/*Double tap to SELECT ALL and COPY ALL*/

@media screen and (min-width: 576px) {
  .headerOuterDivMobile {
    display: none;
  }
  .navIconMobile {
    display: none;
  }
  .headerOuterDivDesktop {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    padding-left: 20px;
    padding-right: 40px;
    position: fixed;
    width: 100%;
    background: rgba(19, 19, 19, 0.3);
    z-index: 4;
    height: 15vh;
  }
  .logoLinkDiv {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    align-items: center;
  }
  .header1Ul {
    display: flex;
  }

  .headerHomePara:hover {
    background-color: transparent;
    color: white;
  } /* Sweep To Right */
  .headerHomePara {
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;

    color: white !important;
    background: transparent;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.3s;
  }
  .headerHomePara:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background: black;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
  }

  .headerHomePara:hover:before {
    transform: scaleX(1);
  }

  .headerPopularPara:hover {
    background-color: transparent;
    color: white;
  } /* Sweep To Right */
  .headerPopularPara {
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;

    color: white !important;
    background: transparent;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.3s;
  }
  .headerPopularPara:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background: black;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
  }

  .headerPopularPara:hover:before {
    transform: scaleX(1);
  }

  .accountSearchDiv {
    display: flex;
    align-items: center;
  }
  .searchIconBtn {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
  }
  .searchIcon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
  }

  .avatarImg {
    margin-right: 20px;
  }
  ._inputSearchIconDivMobile {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    background-color: #131313;
    margin-right: 20px;
  }

  ._inputElMobile {
    width: 130px;
    height: 35px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    padding-left: 5px;
  }
  /* ._inputSearchIconDiv {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    background-color: #131313;
  } */
  ._searchBtnMobile {
    height: 35px;
    width: 40px;
    padding-left: 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 2px;
    margin-left: 2px;
  }

  ._searchIconMobile {
    text-align: center;
    margin-right: 30px;
    padding: 0%;
    height: 30px;
    width: 20px;
  }
}

/*      mobile view CSS =========================================================      */

@media screen and (max-width: 575px) {
  .accountSearchDiv {
    display: flex;
  }
  .NavDiv{
      display: flex;
      flex-direction: column;
  }
  .outerrDiv {
    display: flex;
  }
  .headerOuterDivDesktop {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    width: 100%;
  }
  .headerHomePara {
    display: none;
  }
  .headerPopularPara {
    display: none;
  }
  .avatarImg {
    display: none;
  }
  .headerOuterDivMobile {
    background: rgba(19, 19, 19, 0.3);
    position: fixed;

    z-index: 4;
    height: 10vh;
    padding: 15px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }
  .appLogoHeaderMobile {
    display: block;
    width: 90px;
    height: 20px;
  }
  .headerLogoLinkDivMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    float: right;
  }
  .searchIconAndHam {
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  .searchIconButtonMobile {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .searchIconMobile {
    margin-right: 30px;
    padding: 0%;
    height: 30px;
    width: 20px;
  }
  .navIconMobile {
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  /*Double tap to SELECT ALL and COPY ALL*/
  .header1UlMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background: black;
    padding: 15px;
    border-radius: 5px;
    height: 50px;
    width: 100%;
  }

  .headerHomeParaMobile {
    color: white !important;
  }

  .headerPopularParaMobile {
    color: white !important;
  }

  .headerPopularParaMobile {
    color: white !important;
  }

  .closeCircleMobile {
    height: 20px;
  }
  ._inputSearchIconDivMobile {
    height: 40px;
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    border-radius: 5px;
    outline: none;
    /* background-color: #131313; */
  }

  ._inputElMobile {
    width: 130px;
    height: 35px;
    background-color: black;
    color: white;
    border: 1px solid white;
    outline: none;
    padding-left: 5px;
  }

  ._searchBtnMobile {
    height: 35px;
    width: 40px;
    padding-left: 8px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 2px;
    /* background-color: #272626; */
    margin-left: 2px;
  }

  ._searchIconMobile {
    text-align: center;
    margin-right: 30px;
    padding: 0%;
    height: 30px;
    width: 20px;
  }
}
